<!DOCTYPE html>
<html lang="en">

<meta>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

</meta>

<head>
    <title>About Paw and Purr</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<header>
    <div class="logo">
        <!-- Broken image link rn will fix later-->
        <a href="/"><img src="../imgsfef/1.jpg"></a>
    </div>
</header>

<nav>
    <div id="navigation">
        <li>
            <ul><a href="about">About</a></ul>
            <ul><a href="/index.html">Index</a></ul>
            <ul><a href="/index.html">Index</a></ul>
        </li>
    </div>
</nav>


<body>
    <div class=about>

        <h2>Hello</h2>

        <div class="profile">
            <img src="/img/hamsters-eating-carrots.jpg">
        </div>
    </div>

</body>

</html>