<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>Paw and Purr | Sign In</title>
</head>

<header>
    <div class="logo">
        <!-- Broken image link rn will fix later-->
        <a href="/"><img src="../imgsfef/1.jpg"></a>
    </div>
</header>

<nav>
    <div id="navigation">
        <li>
            <ul><a href="about">About</a></ul>
            <ul><a href="/signin.html">Sign In</a></ul>
            <ul><a href="/index.html">Index</a></ul>
        </li>
    </div>
</nav>

<body>

    <!-- SIGN INTO USER -->
    <div class="outer">
        <h1>Sign In!</h1>
        <h3>Enter your username and password</h3>

        <form action="/signIn" method="POST">
            <div id="sign-in">
                <input type="email" class="signin-form" name="email" placeholder="enter password">
                <input type="password" class="signin-form" name="psw" placeholder="enter password">
            </div>
            <button type="submit" id="userManageButton" class="btn btn-primary btn lg btn-block">Sign In</button>
        </form>
    </div>

    <!-- DONT THINK ABOUT THE WEIRD UI - LIST OF USERS YOU CAN CLICK ON -->
    <li>
        <ul><a href="">Brian Gormanly</a></ul>
        <ul><a href="">Julia Haarding</a></ul>
        <ul><a href="">Colin Kelly</a></ul>
        <ul><a href="">Eleanor Rossini</a></ul>
    </li>
    
</body>

</html>